header {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #ffffff;
  padding: 16px 100px;
  border-bottom: 1px solid #000;
}

nav {
  display: flex;
  gap: 50px; 
}

nav a {
  text-decoration: none;  
  color: #000000;          
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
   font-family: 'Lora', serif;
  font-size: 17px;
  line-height: 1.8;

  
}


footer {
  text-align: center;
  padding: 5px 40px;
  border-top: 1px solid #000000;
  background: #ffffff;
  color: #000000;
}

.logo {
  font-family: 'Cinzel', serif;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 600;
}

.logo a{
  text-decoration: none;
  color: #000;
}

.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  color: #000000; /*fg color*/
}

.menu-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  color: #000000;
}


.arrow {                 /*https://www.youtube.com/watch?v=4Lj9PVcdQgo - arrow guide */
  display: inline-block;
  font-size: 10px;
  margin-left: 4px;
  transform: scale(2.1);

  transition: transform 0.3s ease;
}

.dropdown {
  position: absolute;
  top: 160%;
  left: 0;

  background: #ffffff;
  border: 1px solid #000;
  min-width: 220px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s ease;
}

.dropdown a {
  display: block;
  padding: 10px 16px;
  font-size: 13px;
}

.menu-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu-item:hover .arrow {
  transform: rotate(180deg);
 
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 70px;
}

.row.reverse {
  flex-direction: row-reverse;
}

.container {
  padding: 0 320px;     /* L and R dist */
}

h2{
  text-indent: 20px;
}

.image {
  width: 300px;
   margin-left: 80px;
}

.simg {
  width: 100%;
  height: auto;
  display: block;
}

.image2 {
  width: 6000px;
   margin-right: 80px;
}

.image3 {
  width: 5700px;
   margin-left: 80px;
}

.image4 {
  width: 5200px;
   margin-right: 80px;
}

.image5 {
  width: 6000px;
   margin-left: 80px;
}

.image6 {
  width: 2000px;
   margin-right: 80px;
}

#menu-toggle {
  display: none;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.burger span {
  width: 26px;
  height: 2px;
  background: black;
}

/*adaptive*/
@media (max-width: 768px) {

  header {
    padding: 16px 20px;
  }

  .burger {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;

    flex-direction: column;
    gap: 18px;
    padding: 20px;

    border-bottom: 1px solid black;
    display: none;
  }

  #menu-toggle:checked + .burger + .menu {
    display: flex;
  }

  .menu-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .dropdown {
    position: static;
    opacity: 1;
    visibility: visible;
    border: none;
    padding-left: 15px;
  }

  .arrow {
    display: none;
  }

  .container {
    padding: 20px;
  }

  h2 {
    text-indent: 0;
  }

    .row,
  .row.reverse {
    flex-direction: column;
  }

  .image,
  .image2,
  .image3,
  .image4,
  .image5,
  .image6 {
    width: 100%;
    margin: 0;
  }
}

.logo a:hover{
  color: grey;
}

a:hover {
  color:  gray;
}